<div class="container qi">

  <h1 class="qi--title"> Questions </h1>

  <% @questions.sort {|a, b| b.score <=> a.score }.each do |q| %>

    <a href="/questions/<%= q.id %>">
      <div class="qi--question row">
        <div class="col-xs-2 q_score_bag text-center">
          <p class="blue score">
            <%= q.score %>
          </p>

        </div>

        <div class="col-xs-10">
          <span class="qi--question--title">
            <%= q.title %>
          </span>

        </div>
        <div class="qi--date-positioner">
          <%= render :partial => '/layouts/verbed_by',
                     :locals => {:verbed => "asked", :timeable => q, :unlinked => true} %>
        </div>


      </div>
    </a>
    <hr>

  <% end %>
</div>
