<div class="col-xs-10 col-xs-offset-1 about">
<h3>What the hell is the title of your website? I can't pronounce that.</h3>

<p>
Its just weird punctuation, symbols and letters spelling out "askterix", which is a word that someone made up for the <i>signo de apertura de interrogación</i> as they say <i>en espanol</i>, which just means "opening question mark".
</p>

<h3>What about all those other weird symbols?</h3>

<p>
Well, the @ should be familiar to everyone. That next one is the symbol for the currency of Ukraine. Then you have kappa, which is a letter in the Greek alphabet. The t-ish looking thing is called a dagger, and it usually denotes a footnote. The upside down e is called a schwa and is the vowel sound you make when you don't make a vowel sound, like when you say 'the' but sort of drop the e.
</p>

<p>
Its also the sound people make when they pronounce those weird names of websites that don't have vowels in them.
</p>

<p>
The r is an r.
</p>

<p>
 Then you have <i>signo de apertura de exclamación</i>. Next is something from heraldry called a saltire, which is also what some people call the Scottish flag. And finally the interrobang, which an marketing type person made up in the 1960's.
</p>

<h3>Okay, but what is this site?</h3>

<p>
A place to ask questions and get answers. A place that doesn't mind its name being written "askterix". A place where you can share your knowledge, ask the questions you want answered and problem solve in a community.
</p>

<h3>What about some of the other weird symbols on the site?</h3>

<p>
Well, that's a great question. Maybe you should find a place to ask questions and get answers.
</p>

<p class="text-center">
<strong> hint hint… </strong>
</p>
</div>
