/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
}

div.container-fluid {
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.site-title {
  font-size: 10rem;
  color: #FF9800;
  background-color: #263248;
  padding: 1.5rem 0 2rem;
  text-align: center;
  font-weight: 600;
  font-family: typewriter;
}

@media only screen and (max-width: 600px) {
  .site-title {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 500px) {
  .site-title {
    font-size: 6rem;
  }
}

/**************************************************************/

nav {
  font-size: 2rem;
  font-weight: bold;
  min-height: 4rem;
  line-height: 3rem;
  background-color: #FF9800;
  margin: 0;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

nav a {
  color: #263248;
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

nav ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 0em 1rem;
}

.nav-right {
  float: right;
}

.nav-left {
  float: left;
}

/**************************************************************/

div.middle-form {
  display: block;
  margin: 3rem auto;
  max-width: 400px;
  background-color: #385072;
  padding: 0rem;
  border-radius: 1rem;
}

.form-heading {
  font-size: 3.5rem;
  color: white;
  margin: 0;
  padding: 1rem 1rem 0.3rem 1rem;
}

 fieldset {
   border-radius: 0.5rem;
   background-color: #FFF;
   padding: 0.5rem;
   margin: 1rem 1rem;
 }

 .form-control:focus {
   box-shadow: 0 0 3px 0px #7E8AA2;
 }

 .btn-primary {
   border: 0;
   font-size: 2.5rem;
   font-weight: 500;
   background-color: #FF9800;
   display: block;
   margin: 1rem auto;
 }

 .btn-primary:hover {
   background-color: white;
   color: #FF9800;
 }

 .btn-primary:active {
   background-color: white;
   color: #FF9800;
 }

 .btn-primary:focus {
   background-color: #FF9800;
   color: #7E8AA2;
 }

 .btn-primary:focus:active {
   background-color: #FF9800;
   color: #7E8AA2;
 }

 .btn-wrapper {
   padding: 0rem 0.5rem 0.2rem;
 }

/********************************************************/

.qi--title {
  font-size: 3rem;
}

 div.qi--question {
   /*height: 5rem;*/
   font-size: 2.5rem;
   /*border: 2px solid #EEE;*/
   margin: 0;
   position: relative;
 }

.qi.container hr {
  margin: 1rem;
}

.qi--question:hover {
  color: #263248;
}

/*.qi--date-positioner {
  position:relative;
  bottom: -2rem;
}*/

/****************************************************/

.q_score_bag {
  font-size: 3rem;
  font-weight: bold;
}

.q_score_bag p {
  margin: 0;
  line-height: 2.2rem;
}

.q_score_bag p.up {
  margin-top: 0.5rem;
}

.q_score_bag p.score {
  margin-top: 0.5rem
}

.q_score_bag p.up:hover , p.down:hover {
  text-shadow: 0 0 5px #FF9800;
}

.q_score_bag .blue {
  color: #263248;
}
.q_score_bag .grey {
  color: #7E8AA2;
}
.q_score_bag .yellow {
  color: #FF9800;
}

.q_score_bag .weird {
  padding-right: 0.8rem

}

/****************************************************/

.question--show {
  /*border: 1px solid #263248;*/
  border-radius: 2rem;
  /*box-shadow: 0 0 1px 1px #263248;*/
  padding: 1rem;
  font-size: 2rem;
  margin-top:2rem;
}

.question--title {
  font-size: 3rem;
  font-weight: bold;
}

.question--text {
  margin: 1rem;
}

.question--dates {
  font-size: 1.2rem;
}

.q--tools {
  padding: 1rem;
}

.answer--show {
  /*border: 1px solid #FF9800;*/
  border-radius: 2rem;
  /*box-shadow: 0 0 1px 1px #FF9800;*/
  padding: 0rem;
  font-size: 2rem;
  margin: 0rem 0;
}

.a_toolbar {
  margin: 0 0 1rem;
}

.a_toolbar {
  line-height: 0;
}

hr {
  margin: 2rem;
}

hr.double--top {
  margin: 2rem auto 0.5rem;
}

hr.double--bottom {
  margin: 0.5rem auto 2rem;
}

.unbordered {
  border: 0;
}

/*********************************************************/

.marginal {
  margin: 6rem 6rem;
  padding: 3rem;
}

.question-form-heading {
  font-weight: bold;
  color: #263248;
  font-size: 4rem;
  margin: 3rem auto 0rem;
}

.user--show--heading {
  font-size: 4rem;
  font-weight: bold;
  margin: 2rem 0 3rem;
}

.margin-0-auto-rounded {
  display: block;
  margin: 0 auto 2rem;
  border-radius: 3rem;
  max-width: 90%;
}

footer {
  color: #97A5C2;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  line-height: 15rem;
}

footer a {
  color: #97A5C2;
}

footer a:hover {
  color: #FF9800;
}

div.about {
  font-size: 2rem;
}

div.about h3 {
  font-size: 3rem;
  color: #263248;
}

p {
  text-indent: 3rem;
}
